// Define variables for your color scheme

// Dishy colours:
$red: #49111C;
$blue: #175092;
$yellow: #ceac70;
$white: hsl(60, 100%, 99%);
$gray: #34323e;

// Already here:
$orange: #b0754b;
$green: #1EDD88;
$light-gray: #F4F4F4;
