// Define variables for your color scheme

// Dishy colours:
$purple: #320527;
$orange: #E67E22;
$yellow: #CEAC70;
$cherry: #bb3a4f;
$gray: #676b7d;
$dark-gray: #34323E;

// Other colours:
$green: #235c31;
$blue: #175092;
$yellow: #ceac70;
$white: #FFFFFA;
$gray: #34323e;

// Already here:
$orange: #b0754b;
$green: #1EDD88;
$light-gray: #F4F4F4;
$red: #3e1513;
