// Define variables for your color scheme

// Dishy colours:
$red: #49111C;
$orange: #E67E22;
$yellow: #CEAC70;
$gray: #676b7d;
$dark-gray: #34323E;

// Other colours:
$green: #235c31;
$blue: #175092;
$white: #FFFFFA;
$light-gray: #F4F4F4;
