.ingredient-form {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}

.ingredient-form .btn {
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 8px;
}

.btn-flat {
  color: $light-gray;
  padding: 4px 16px;
  border-radius: 4px;
  background: transparent;
}

.ingredient-form .form-control {
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 50rem;
}

.ingredient-form .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.selected-ingredients li {
  margin: 8px 0;
}
