.recipe-card {
  margin-top: 40vh;
  // background-image:  linear-gradient(rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 25%);
  color: $white;
}

.recipe-card h1, .recipe-card h5 {
  color: #ca4091;
}

.recipe-card p, .recipe-card ul {
  color: #F8D5FC;
}

.show {
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

recipe-list {
  display: block;
}
