<h1>Search Results</h1>

<% @search_results.each do |recipe| %>
  <h2><%= recipe.name %></h2>
  <p>Cuisine: <%= recipe.cuisines %></p>
  <p>Dietary: <%= recipe.dietaries %></p>
  <!-- Add other relevant information here -->
<% end %>
