<div class="homebg py-5">
  <div class="container container-hm">
    <div class="row text-center align-middle">
      <h2>Missing something?</h2>
    </div>
    <div class="row align-middle">
    <%= link_to "Fill me up", edit_user_cuisines_path, class: "button-8" %>
  </div>
</div>
