<header class="homebg" role="banner">
  <h1 class="neon" data-text="U">DI<span class="flicker-slow">S</span>H<span class="flicker-fast">Y</span></h1>
  <p>Find your recipe matches: <br> Swipe Right. Cook. Eat. Repeat.</p>
  <%= link_to "Fill me up", edit_user_cuisines_path, class: "main-btn home-btn" %>
</header>
