<div class="container edit-pref">
  <div>
    <h2>Cuisines</h2>
    <%= simple_form_for(@user, url: update_user_cuisines_path, method: :patch) do |f| %>
      <%= f.association :cuisines, collection: Cuisine.all,
                        as: :check_boxes,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item',
                        legend_tag: false %>
      <%= f.submit "Continue", class: "main-btn"%>
    <% end %>
  </div>
</div>
