<html>
<head>
  <title>Your Form Title</title>
  <link rel="stylesheet" href="path/to/your/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <%= simple_form_for(@user, url: update_user_ingredients_path, method: :patch) do |f| %>
    <div class="ingredient-form">
      <input type="text" id="ingredient-input" class="ingredient-input" name="user[ingredient_list][]" placeholder="Enter an ingredient">
      <button type="button" id="add-ingredient" class="add-ingredient-button">Add</button>
    </div>

    <!-- Display added ingredients -->
    <div class="selected-ingredients">
      <h3>Selected Ingredients:</h3>
      <ul id="selected-ingredients-list" class="selected-ingredients-list">
        <!-- Newly added ingredients will be displayed here via JavaScript -->
      </ul>
    </div>

    <%= f.submit "Save Ingredient Preferences" %>
    <h3> press on the added ingredients to remove from list</h3>
    <%= link_to "Skip", edit_user_dietaries_path, class: "skip-link" %>
  <% end %>

  <script src="path/to/script.js"></script>
  <script>
    $(document).ready(function() {
      $("#add-ingredient").click(function() {
        var ingredient = $("#ingredient-input").val();
        if (ingredient) {
          var listItem = $("<li>").text(ingredient);
          $("#selected-ingredients-list").append(listItem);
          $("#ingredient-input").val(""); // Clear the input field
        }
      });

      $("#selected-ingredients-list").on("click", "li", function() {
      $(this).remove();
    });
});

  </script>
</body>
</html>
