<div class="container py-4 edit-pref-bg">
  <div class="edit-pref-center">
    <h2>Cuisines</h2>
    <%= simple_form_for(@user, url: update_user_cuisines_path, method: :patch) do |f| %>
      <%= f.association :cuisines, collection: Cuisine.all,
                        as: :check_boxes,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item',
                        legend_tag: false %>
      <%= f.submit "Save", class: "button-9", style: "padding: 8px 20px;" %>
    <% end %>
  </div>
</div>
