.edit-pref {
  background-image:  linear-gradient(rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.9) 75%), url("mushrooms.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center bottom;
  color: $white;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 1em;
}

.edit-pref h2 {
  margin-bottom: 24px;
}

.tag-item {
  display: inline-block;
  margin-bottom: 4px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: transparent;
  border: 1px solid #cdc0e3;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.edit-pref .form-check-input.is-valid ~ .form-check-label {
  color: #cdc0e3;
}

.tag-selector:checked + label {
  background-color: #cdc0e3;
  color: #2c1a2d !important;
}
