.navbar-dishy {
  justify-content: space-between;
  background: none;
  overflow: hidden;
}

.navbar-dishy .navbar-collapse {
  flex-grow: 0;
}

.navbar-dishy .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.edit-pref {
  font-size: 30px;
  opacity: 0.5;
  color: $white;
}
