.navbar {
  --bs-navbar-padding-y: 0.15rem;
}

.navbar-dishy {
  justify-content: space-between;
  // background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background: transparent;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}

.navbar-dishy .navbar-collapse {
  flex-grow: 0;
}

.navbar-dishy .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.edit-pref {
  font-size: 30px;
  opacity: 0.5;
  color: $white;
}
