*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  color: $white;
}

.swiper a {
  text-decoration: none;
  color: $white;
}

.loaded.swiper {
  opacity: 1;
}

.swiper--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.swiper--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.swiper_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.swiper_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.swiper--cards {
  flex-grow: 1;
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.swiper--card {
  display: inline-block;
  width:95vw;
  max-width: 400px;
  height: 90vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.swiper--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.swiper--card h2 {
  margin-top: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.swiper--card p {
  margin-top: 16px;
  padding: 0 16px;
  pointer-events: none;
}

.swiper--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.swiper--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  // display: inline-block;
  margin: 0 8px;
  display: none;
}

.swiper--buttons button:focus {
  outline: 0;
}

.swiper--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

// .swiper--buttons .fa-heart {
//   color: #FFACE4;
// }

// .fa-remove {
//   color: #CDD6DD;
// }
