.swiper {
  height: 100vh;
}

// .index {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 100%;
// }

// .index-bg h2 {
//   padding: 24px 0;
//   color: $white;
// }

.swiper-info {
  text-align: center;
  color: $white;
  padding: 24px 0;
}

.swiper-info i {
  text-decoration: none;
  font-size: 32px;
  color: $white;
}

.swiper-info a {
  text-decoration: none;
  font-size: 16px;
  color: $white;
}

// .index-bg img {
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   height: 100vh;
// }
